.container-task {
    width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.container-task > button {
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 26px;
    width: 100%;
    height: 55px;
    color: rgb(41, 219, 219);
    margin-top: 20px;
}

.box-tasks {
    display: flex;
}

@media screen and (max-width: 700px){
    .container-task {
        width: 500px;
    }
}

@media screen and (max-width: 550px){
    .container-task {
        width: 400px;
    }
}

@media screen and (max-width: 450px){
    .container-task {
        width: 300px;
    }
    .container-task > button {
        font-size: 24px;
    }
}

@media screen and (max-width: 350px){
    .container-task {
        width: 200px;
    }
    .container-task > button {
        font-size: 20px;
        height: 40px;
    }
} 
